:root {
  --container-bg-color: #333;
  --bg-color: rgba(25, 25, 25, 0.7);
  --left-button-hover-color: rgba(40, 40, 40, 0.3);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}
  
/* ---LANDING--- */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.button {
  display: block;
  position: absolute;
  left: 50%;
  top: 70%;
  height: 1rem;
  padding: .5rem;
  width: 6rem;
  text-align: center;
  color: #fff;
  border: #fff solid 0.1rem;
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
}

.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--right-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url('https://tan-huy.github.io/ns/img/IMG_6687-1bg.jpg') center center no-repeat;
  background-size: cover;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--bg-color);
}

.split.right {
  right:0;
  background: url('https://tan-huy.github.io/ns/img/IMG_6316bg.jpg') center center no-repeat;
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}/* ---END OF LANDING--- */


/* ---MEDIA QUERIES--- */
@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}
/* ---END OF MEDIA QUERIES--- */


/* ---NAVBAR--- */
.navbar {
  position: sticky;
  position: -webkit- sticky;
  top: 0;
  border-top: #ffffff solid .05rem;
  border-bottom: #ffffff solid .05rem;
}

nav {
  width: 100%;
  height: 3rem;
  padding: .3rem 10rem;
  box-sizing: border-box;
  background: rgba(0,0,0,.8);
  color: #ffffff
}

nav .logo {
  text-decoration: none;
  float: left;
  font-size: 2rem;
  font-family: 'Brush Script MT', cursive;
}

nav .logo a {
  text-decoration: none;
  color: #ffffff;
}

nav ul {
  float: right;
  margin: 0;
  display: flex;
}

nav ul li {
  font-size: .85rem;
  padding: 0;
  list-style: none;
}

nav ul li a {
  line-height: 2.5rem;
  color: #ffffff;
  padding: .5rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #E2472F;
}

nav ul li a.active {
  background: #E2472F;
  color: #fff;
  border-radius: 6px;
}

/* ---END OF NAVBAR--- */

.filler {
  height: 4000px;
  width: stretch;
  background-color: rgb(58, 58, 165)
}

.construction {
  font: 3rem center;
}

.construction p {
  margin: 0;
  padding: 5rem 15rem;
  text-align: center;
}
/* ---END NAVBAR--- */


/* ---HUY--- */
.profile {
  padding-top: 2rem;
  width: 100%;
  height: 400px;
  font-family: 'Fauna One', serif;
  justify-content: center;
  background-color: #ffffff;
}

.profile h2 {
  text-align: center;
}

hr {
  padding: 0;
  margin: 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.content {
  display: flex;
  padding: 0 10rem;
}

.content-text {
  flex: 5;
  font-size: 1.8rem;
  padding: 0 1rem;
}

.content-img {
  flex: 1;
}

#huy img {
  border-radius: 65px;
}

#jamie {
  background-color: rgb(20, 20, 20);
  color: #ffffff;
}

#jamie hr {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

#jamie .content-img {
  order: 1;
  border-radius: 100px;
}

#jamie .content-img img {
  border-radius: 65px;
}

#jamie .content-text {
  order: 2;
}